<mat-toolbar>
  <span>TIC-TAC-TOE GAME</span>
</mat-toolbar>
<!-- <div class="playerinput1">
  <mat-form-field>
    <input id="player1" matInput placeholder="Player X" [(ngModel)]="player1" />
  </mat-form-field>
  <button mat-button (click)="submitName()">Submit Name</button>
</div>
<div class="playerinput2">
  <mat-form-field>
    <input id="player2" matInput placeholder="Player O" [(ngModel)]="player2" />
  </mat-form-field>
</div> -->

<!-- <div class="board"> -->
<app-board> </app-board>
<!-- </div> -->
